.sidenav {
    background: #fafbfc;
    padding: 20px;
}

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 220px;
    margin: 0 auto 30px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(44, 44, 44, 0.15);
    padding: 20px;
    transition: 0.1s ease-out;
}

.sidenav li a p {
    text-align: center;
    font-size: 1.125rem;
    font-family: "Permanent Marker";
    color: #000;
}

.sidenav img {
    border-radius: 0 0 5px 5px;
    -webkit-filter: grayscale(0%);
}

.sidenav img:hover {
    -webkit-filter: grayscale(100%);
}

@keyframes seta {
    from {
        right: 30px;
    }
    to {
        right: 20px;
    }
}

@media (max-width: 800px) {
    .sidenav ul {
        display: flex;
    }
    .sidenav ul li {
        flex: 1 0 60px;
    }
    .sidenav {
        padding: 0 30px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        position: relative;
    }
    .sidenav::after {
        content: "→";
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0, 0, 0, 0.3);
        animation: seta 0.5s ease-in 0s infinite alternate;
    }
    .sidenav li a {
        margin: 30px 30px 30px 0;
    }
    .sidenav img {
        width: 100px;
        border-radius: 5px 5px 0 0;
    }
}